.container {
  max-width: 1200px;
  margin: auto;
}

header,
div,
.content,
footer,
aside {
  padding: 11px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  background-image: url(/images/heroImage.png);
  height: 33vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navigation {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.logo {
  width: 60px;
  align-self: center;
  margin-left: 10px;
  animation: moveInLeft 2000ms ease-in;
}

.navigation .pages {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-grow: 5;
}

.pages a {
  text-decoration: none;
  color: #777;
}

.pages a i {
  margin-right: 5px;
}

.pages a:visited {
  color: #777;
}

.pages a:hover {
  text-decoration: underline;
  text-decoration-color: darkorange;
  text-decoration-thickness: 2px;
  animation: underline 500ms ease-in;
}

.pages a:hover i {
  color: darkorange
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 10px;
}

.social li {
  list-style: none;
}

.icons {
  color: #777;
  font-style: normal;
}
.social a {
  text-decoration: none;
}

a.facebook:hover .icons {
  color: #3b5998;
}

a.twitter:hover .icons {
  color: #1DA1F2;
}

.title {
  color: burlywood;
  background: rgba(0, 0, 0, 0.3);
  padding: 3vh 18vw 6vh;
  margin-top: 15.5vh;
  align-self: center;
  text-align: center;
  white-space: nowrap;
  transition: background 3000ms ease-in;
  animation: moveInBottom 2000ms ease-in;
}

.main_content {
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  margin-right: 10px;
  background-color: #ccc;
  gap: 10px;
  max-width: 1000px;
}

.content article {
  background-color: #fff;
  flex: 1 0 42%;
}

article {
  position: relative;
  max-width: 500px;
}

.blog_hero {
  position: relative;
  padding-bottom: 2px;
}

.blog_hero img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.blog_hero p {
  position: absolute;
  bottom: 1px;
  left: 20px;
  color:burlywood;
}

article h2 {
  background-color: lightcoral;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 5px 1px;
  margin-top: 0;
  color: #ddd;
  text-transform: uppercase;
}

.column {
  margin: 10px;
  columns: 2;
  color: #777;
}

article a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  color: #777;
  margin-bottom: 10px;
}

.content .last {
  text-align: center;
}

.sidebar {
  flex-grow: 1;
  background-color: #ccc;
  max-width: 300px;
  text-align: center;
}

.footer {
  margin-top: 10px;
  background-color: #ccc;
  padding: 0 10px;
}
.footer p {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  color: #777;
}

/* TABLET */

@media only screen and (max-width: 1024px) {
  .main_content .content,
  footer,
  aside {
    padding: 17.5px;
  }

  .header {
    margin-bottom: 17.5px;
  }

  .logo {
    margin-left: 0;
  }

  .header ul {
    padding-inline-start: 20px;
  }

  .pages {
    gap: 8px;
  }

  .social {
    gap: 10px;
    margin-right: 0;
    padding-inline-start: 30px;
  }

  .title {
    margin-top: 16vh;
    white-space: normal;
    font-size: 1.53rem;
    padding: 3vh 13vw 6vh;
  }

  .main_content {
    flex-direction: column;
    gap: 17.5px;
  }

  .main_content .content {
    gap: 16px;
  }

  .content {
    margin-right: 0;
  }

  .sidebar {
    max-width: 100%;
  }

  div {
    padding: 11px;
  }

  .footer {
    margin-top: 17.5px;
  }
}

/* PHONE */

@media only screen and (max-width: 480px) {
  body {
    margin: 0;
  }

  header,
  .main_content .content,
  footer,
  aside {
    padding: 30px;
  }

  .navigation {
    flex-direction: column;
  }

  .header {
    margin-bottom: 30px;
    height: 40vh;
  }

  .navigation {
    margin-bottom: 30px;
  }

  .title {
    margin-top: 10vh;
    font-size: 1.2rem;
    padding: 2vh 2vh 4vh;
  }

  .main_content {
    flex-direction: column;
    gap: 30px;
  }

  .main_content .content {
    gap: 30px;
  }

  .content {
    margin-right: 0;
  }

  .sidebar div:first-child {
    margin-bottom: 20px;
  }

  div {
    padding: 13.8px;
  }

  .footer {
    margin-top: 30px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes underline {
  0% {
    text-decoration-color: transparent;
  }

  100% {
    text-decoration-color: darkorange;
  }
}
