.container {
  max-width: 1200px;
}

header,
div,
footer,
aside {
  padding: 11px;
}

.header,
.main_content,
.footer {
  background-color: black;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  background-color: steelblue;
  margin-bottom: 5px;
}

.navigation div {
  background-color: orangered;
  margin: 10px;
}

.navigation div:nth-child(2) {
  flex-grow: 5;
  margin-left: 0;
  margin-right: 0;
}

.navigation div:first-child,
.navigation div:last-child {
  flex-grow: 1;
}

.hero {
  background-color: orange;
}
.hero .title {
  background-color: burlywood;
}

.main_content {
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  margin-right: 10px;
  background-color: slategrey;
  gap: 10px;
}

.content div {
  background-color: darkslateblue;
  flex: 1 0 42%;
}

.content .last {
  background-color: cadetblue;
}

.sidebar {
  flex-grow: 1;
  background-color: brown;
}
.sidebar div {
  background-color: darkorange;
}
.sidebar div:first-child {
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
}
.footer div {
  background-color: coral;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  header,
  .main_content,
  .main_content .content,
  footer,
  aside {
    padding: 17.5px;
  }

  .navigation div {
    margin: 17.5px;
  }

  .header {
    margin-bottom: 17.5px;
  }

  .navigation {
    margin-bottom: 10px;
  }

  .main_content {
    background-color: yellow;
    flex-direction: column;
    gap: 17.5px;
  }

  .main_content .content {
    gap: 16px;
  }

  .content {
    margin-right: 0;
  }

  div {
    padding: 11px
  }

  .footer {
    margin-top: 17.5px;
  }
}
